#OS junk files
[Tt]humbs.db
*.DS_Store

#Java files
*.class
/IgniteSparkIOT/target/
.classpath
.project
/IgniteSparkIOT/.settings/*
.springBeans
dependency-reduced-pom.xml

#log files
*.log

#Spark warehouse
spark-warehouse/*
